<h1><%= title %></h1>
<form method="post" action="/users/create-session">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="**********">
    <input type="submit" value="Login">
</form>