<h1><%= title %></h1>
<form method="post" action="/users/create">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="**********">
    <input type="password" name="confirm_password" placeholder="**********">
    <input type="submit" value="Register">
</form>